@font-face {
    font-family: 'Inter';
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Inter-Regular.ttf");
}

* {
    font-family: 'Inter';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.search-container{
    width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 1rem;
}

.search-bar {
    width: 90%;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}

.search-bar:hover, .search-bar:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
    border: none;
}

.search-btn {
    margin: 1rem;
    width: 95%;
    padding: .5rem;
    border-radius: 10px;
    color: white;
    background: black;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    transition: all 200ms;
}

.search-btn:hover {
    background: transparent;
    color: black;
}
