@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.search-container{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 1rem;
}

.search-container h2 {
    color: #222;
}

.search-bar {
    width: 90%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
}

.search-bar:hover, .search-bar:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
    border: none;
}

.search-btn {
    margin: 1rem;
    width: 95%;
    padding: .5rem;
    border-radius: 8px;
    color: white;
    background: black;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    transition: all 200ms;
}

.search-btn:hover {
    background: transparent;
    color: black;
}

.social-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.social-links-container a {
    text-decoration: none;
    color: #222;
    margin-top: 1rem;
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
}

.social-container:hover {
    text-decoration: underline;
}

.social-container img {
    width: 32px;
    height: 32px;
    margin: 0 .25rem;
}

.legal-container {
    display: flex;
    width: 70%;
    margin: 2rem 0 1rem 0;
    justify-content: space-between;
}

.legal-container a {
    text-decoration: none;
    font-size: 12px;
    color: #111;
}

.legal-container a:hover {
    text-decoration: underline;
}
